
/* Styles for grid - Pokemon types */

.grass {
    color: #020000;
    background-color: rgb(74, 236, 74);
    border: #008000 solid 2px;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
    text-align: center;
}

.fire {
    color: #000000;
    background-color: rgb(230, 114, 114);
    border: #800000 solid 2px;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
    text-align: center;
}

.water {
    color: #000000;
    background-color: rgb(74, 171, 236);
    border: #000980 solid 2px;
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
    text-align: center;
}


/* Navbar styles, making the toggler a darker colour */

/* Navbar toggler: make icon darker for visibility */
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23222' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Slightly darker on hover/focus */
.navbar-light .navbar-toggler:focus .navbar-toggler-icon,
.navbar-light .navbar-toggler:hover .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}




/* Styles for Carousel with captions */

/* Carousel wrapper to limit width and center it */
.carousel-wrapper {
    width: 90%;
    max-width: 1100px;
    margin: 10px auto;
    border: black 2px solid;
    border-radius: 2px;
}

/* Image formatting */
.carousel-wrapper .carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* Caption text formatting */
.carousel-wrapper .p{
    font-size: 1.1em;
    font-weight: bold;
}


/* Formatting the default behaviour for captions in the carousel */
#PokeCarouselCaptions .carousel-caption {
  left: 50%;
  right: auto;
  transform: translateX(-50%); /* centers the caption */
  width: 40%;                  /* controls width of the caption box */
  max-width: 600px;
  background: rgba(255, 255, 255, 0.871);   /* white box behind text, alpha */
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-align: center;
}

#PokeCarouselCaptions .carousel-caption h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Make it responsive - if page is less than 800px, width is 80% */
@media (max-width: 799px) {
  #carouselExampleCaptions .carousel-caption {
    width: 80%;
    max-width: none;
  }
}

/* Responsive size - change sizes above 800px and 1200px */
@media (min-width: 800px) {
    .carousel-wrapper {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    .carousel-wrapper {
        width: 60%;
    }
}


/* Formatting for carousel arrows, grey arrows with circular background */

/* Make carousel arrows dark grey instead of white */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* SVG icon with slightly darker grey fill (#222) */
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M4.146 0.146a.5.5 0 1 1 .708.708L1.707 4l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5z'/%3E%3C/svg%3E");
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

/* Flip the next icon so it points right */
.carousel-control-next-icon {
  transform: rotate(180deg);
}


/* Circular box around the icon, click to navigate */
.carousel-control-prev, .carousel-control-next {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  top: 50%;                         /* vertically center */ 
  z-index: 2;
}

/* Ensure controls remain visible on darker images */

/* Normal colour */
.carousel-control-prev, .carousel-control-next {
  background-color: rgba(255, 255, 255, 0.8);
}
/* Hover colour */
.carousel-control-prev:hover, .carousel-control-next:hover {
  background-color: rgba(255, 255, 255, 0.919);
}



/* Pokeball fixed image styles */

/* Pokeball image, fixed bottom-right */
.pokeball-fixed {
  position: fixed;      /* fixed position */
  right: 20px;          /* position on the screen - bottom pixels from bottom right corner */
  bottom: 20px;
  width: 64px;
  height: auto;
  cursor: pointer;
  z-index: 9999;
  transition: opacity 1s ease, transform 0.9s ease;     /* describes how transitions behave - values must be specified later */
  box-shadow: 0 2px 6px rgba(0,0,0,0.25);           /* surrounding shadow */
}
.pokeball-fixed:active { transform: scale(0.95); }  /* when clicked, scale down a bit */


@media (max-width: 400px) {     /* experimenting with making other objects grow/shrink based on screen size */
  .pokeball-fixed { width: 48px; right: 12px; bottom: 12px; }
}

