

.myHeader {
    font-size: 2rem;
    background-color: #24364a;
    color: #e1e7ee;
    margin-bottom: 24px;
    padding: 20px;
    border: 4px solid #000000;
    border-radius: 9px;
}


div.mycontainer {
    width:100%;
    overflow:auto;
}
div.mycontainer div {
    width:25%;  
    float:left;
    padding: 6px;
    margin: 3px;
}

.keyword {
    color: #020000;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

table, th {
    border: 2px solid black; 
    border-collapse: collapse;
    padding: 5px;
    background-color: #d5d5d5;
}

td {
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 5px;
    background-color: #ffffff;
}
